#Waveshare SX126X XXXM

#USE_SX1262: true
#SX126X_DIO2_AS_RF_SWITCH: true
#SX126X_CS: 21
#SX126X_DIO1: 16
#SX126X_BUSY: 20
#SX126X_RESET: 18

#Waveshare SX1302 LISTEN ONLY AT THIS TIME!

#USE_SX1262: true
#SX126X_CS: 7
#SX126X_DIO1: 17
#SX126X_RESET: 22
