.pio
main/configuration.h
main/credentials.h

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db
.autotools
.built
.context
.cproject
.idea/*
.vagrant

flash.uf2
