[submodule "protobufs"]
	path = protobufs
	url = https://github.com/NomDeTom/Meshtasticprotobufs
	branch = pr-1059-on-master
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
