#!/usr/bin/make -f

# Use the "dh" sequencer
%:
	dh $@

override_dh_auto_build:
	# Terrible hack to use modern platformio to build the native version
	python3 -m venv venv
	. venv/bin/activate
	pip install platformio
	platformio run -e native
	deactivate
	rm -rf venv
	# Move the binary and default config to the correct name
	mv .pio/build/native/program .pio/build/native/meshtasticd
	cp bin/config-dist.yaml bin/config.yaml
