name: Build STM32

on:
  workflow_call:
    inputs:
      board:
        required: true
        type: string

jobs:
  build-stm32:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build base
        id: base
        uses: ./.github/actions/setup-base
        with:
          USER_PREFS: ${{ secrets.USER_PREFS }}

      - name: Build STM32
        run: bin/build-stm32.sh ${{ inputs.board }}

      - name: Get release version string
        run: echo "version=$(./bin/buildinfo.py long)" >> $GITHUB_OUTPUT
        id: version

      - name: Store binaries as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ inputs.board }}-${{ steps.version.outputs.version }}.zip
          overwrite: true
          path: |
            release/*.hex
            release/*.bin
