name: Continuous Integration
on:
  - push
  - pull_request

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install Platform IO
        run: |
          python -m pip install --upgrade pip
          pip install -U platformio
      - name: Install extra python tools
        run: |
          pip install -U adafruit-nrfutil
      - name: Install libs needed for linux build
        run: |
          sudo apt install -y libpsocksxx-dev
      - name: Build for tbeam
        run: platformio run -e tbeam
      - name: Build for heltec
        run: platformio run -e heltec
      - name: Build for lora-relay-v1
        run: platformio run -e lora-relay-v1 
      # Turn off linux for now
      name: Build for native
        run: platformio run -e native
